body {
background-color: bisque;

}

.div1 {
text-align: center;

}

.text1 {
text-align: center;
font-size: 50px;

}

.text2 {
text-align: center;
font-size: 30px;

}

.text3 {
text-align: center;
font-size: 30px;

}

.text10 {
text-align: center;
font-size: 30px;

}

.text99 {
text-align: center;
}

.rasm2 {
text-align: center;
font-size: 40px;
}

.a11 {
text-align: center;
font-size: 30px;

}

.full {
text-align: center;


}

.full2 {

text-align: center;

}


.full3 {
text-align: center;

}


















